{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "api.video",
        "description": "api.video is an API able to encode on the go to facilitate immediate playback, enhancing viewer streaming experiences across multiple devices and platforms. Stream live or on-demand online videos within minutes with a well-documented API."
    },
    "host": "ws.api.video",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/vnd.api.video+json"
    ],
    "securityDefinitions": {
        "oauth2": {
            "type": "oauth2",
            "flow": "implicit",
            "scopes": {},
            "authorizationUrl": ""
        }
    },
    "paths": {
        "/auth/api-key": {
            "post": {
                "operationId": "POST_auth-api-key",
                "summary": "Authenticate",
                "tags": [
                    "Authentication"
                ],
                "description": "The first action taken when interacting with api.video is the authentication step (NOTE: this is abstracted in many of the SDKs).\n\nTo Authenticate, you must submit your API key.  Upon authentication, api.video will return an access_token that is valid for one hour (3600 seconds).\n\nView a [tutorial](https://api.video/blog/tutorials/authentication-tutorial) on authentication.  \n\nExample request/response:\n```bash\ncurl -X POST \\\nhttps://sandbox.api.video/auth/api-key \\\n-H 'Content-Type: application/json' \\\n-d '{\"apiKey\": \"your_api_key\"}'\n``````json\n{\n    \"token_type\": \"Bearer\",\n    \"expires_in\": 3600,\n    \"access_token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImFiYjcxNmNiY2ZiNmY4MDc2OWEzZmQ1MjlhMjZiZWRkY2EwMzhlYzA3NDk5M2ZiMTA0YjhiZGMwOTI5MzgxN2M3NmNkNzI4ZDIzOGMzZmNlIn0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiYWJiNzE2Y2JjZmI2ZjgwNzY5YTNmZDUyOWEyNmJlZGRjYTAzOGVjMDc0OTkzZmIxMDRiOGJkYzA5MjkzODE3Yzc2Y2Q3MjhkMjM4YzNmY2UiLCJpYXQiOjE1MjY1NDgzMDEsIm5iZiI6MTUyNjU0ODMwMSwiZXhwIjoxNTI2NTUxOTAxLCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.jWHC18iEur69FzD5dm78wAwNzh2cPKTRvKuspyQNQKPvhEbYa2v4XhqVNh0TTw8JeNxBtcePBTMHl4S9nWsw7pW4KD8zbqzUjCZNYlaYDpu8vu_tmWVO2JccglJIjuQEaiTbkUsfLdgtsb_9DJ3frk1-WgAKuzu0HewhcGb80xivdJPqNYA6I1Ig8GOief9LTUNNJoqqZn1A1-UiGRTXDag7_yODuxzpMFaAzbaisfK0gYti-PnjyHGWhpGwRplMKPPJk6rSAp1d9TWWXVgg-bNqUzz4_sr33ICJTx7_qZzfamMqk5PDZbHOwpIj8L2DBfo3isvt6QliWmgFEOuvog\",\n    \"refresh_token\": \"def502001d5c8aeb3f921c833f0c90fbbb9ef2be1f25e476d7acf999010c435c043bf382f462bd48e82c9253ee0bcad1dd07c07b827552ef540b1429e032acdb78325d17401d54a4baf421e41eaed4b545938f3539428ea52297cb8760269b95284da8c89c55d72c9584ced47510976a9f3106a034173dd3e39c3bf4f7119c4722fda4f70c15241a392be79ba5a1ff9e4f3edfa204c22ad9f9776258fb511137e6e0f40a917866158bc13c7536243146bb35b5f6edf59f6d2d346721fcbc22810364fdb4236949db605e4eb1de1578af97866e850fe535b1febb21ab52dfc0dfe91719d5c81c477ba4c979c993e404d6ed3e51d549a239cc486c17e5e3f414ad66fa71e1a16eba2124eaaba97fc9c8729109b8294c8a440e0cd78f8c9b0006c15a8e32e19eb364f9d644a3510735301ff525aa856728791b240523f8a85d2a57754c221e49de80b690a5908f3d599b43aec5164bab7dd4dce10b5f336140d32315ba64ee4cf3b68e9babea65f493db6cfb28f53c5e2dcaf440f4509c39bfda2076c6e9b8efcb\"\n}\n```. ",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "apiKey": {
                                    "type": "string",
                                    "description": "Your account's API key"
                                }
                            },
                            "required": [
                                "apiKey"
                            ],
                            "example": {
                                "apiKey": "9VxMaPgsaFg7EBqmuspSzF7"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/access-token"
                        },
                        "examples": {
                            "application/json": {
                                "token_type": "Bearer",
                                "expires_in": 3600,
                                "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA",
                                "refresh_token": "def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962"
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
							"application/json": {
							    "type": "https://docs.api.video/docs/authenticationinvalid_credentials",
							    "title": "The user credentials were incorrect.",
							    "name": "",
							    "status": 400
							}
                        }
                    }
                }
            }
        },
        "/auth/refresh": {
            "post": {
                "operationId": "POST_auth-refresh",
                "summary": "Refresh token",
                "tags": [
                    "Authentication"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "refreshToken": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "refreshToken"
                            ],
                            "example": {
                                "refreshToken": "def502005346d9cc2bd79a7793ab5bdabfefcaabfbb8c253f14733f1262077e1a3f38c4751d6d20f590c3784e531a82adc11f05fc1949aa46d5575aaa99cb84b9334ba66ac773576b5d7a418937ae337de62811d086dd42ad1164b12f87d67be6ffea18f2d50be9b95697b21c4d3c4372849bdb2287259cb80541570e913691a08b2fa33c85885930de15cebea627fc09f0255562ab3d39d87d4ff8fc02b00e252afcd480421dec7de9d1411176bcf669c527762e22294b453bc9ea06e9fa8ba5b873feb2ee14ce0a6a6ddd4b78c580631e210e9b9387265dc2bec9478a66a09dcdce1c40d2f856689e9d81742c9628a0b87b359e0b218ea1f07427eef89f999e47af89792f598e05847bd008fddc32ee63f4a601ffb4cd2ad08977f1c854ec358238322c918f05aa5a41f8a171dee497218408abc8283473f6112aeed7310815416a0fa36c63667e0ed014fa40b8992891bf58bae400d901c01450101c88f4978938ad138adc19cfe5698d60fd82cb27c586f6a8f70f4393c7c9e579df8739d46d249fb76d7"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/access-token"
                        },
                        "examples": {
                            "application/json": {
                                "token_type": "Bearer",
                                "expires_in": 3600,
                                "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA",
                                "refresh_token": "def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962"
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
                            "application/json": {
                                "status": 400,
                                "type": "https://docs.api.video/docs/authenticationinvalid_credentials",
                                "title": "The user credentials were incorrect.",
                                "name": ""
                            }
                        }
                    }
                }
            }
        },
        "/videos": {
            "post": {
                "operationId": "POST-video",
                "summary": "Create a video",
                "tags": [
                    "Videos"
                ],
                "description": "To create a video, you create its metadata first, then you upload contents.\n\nA video is public by default.\n### Creating a video Container for future upload\n```shell\n$ curl https://ws.api.video/videos \\\n-H 'Authorization: Bearer {access_token} \\\n-d '{\"title\":\"My video\", \n     \"description\":\"so many details\",\n     \"mp4Support\":true\n}'\n```\n\n### Creating a hosted video \n\nYou can also create a video directly from one hosted on a third-party server by giving its URI in `source` parameter:\n\n```shell\n$ curl https://ws.api.video/videos \\\n-H 'Authorization: Bearer {access_token} \\\n-d '{\"source\":\"http://uri/to/video.mp4\", \"title\":\"My video\"}'\n```\n\nIn this case, the service will respond `202 Accepted` and download the video asynchronously.\n\n We have tutorlals on:\n [Creating and uploading videos](https://api.video/blog/tutorials/video-upload-tutorial)\n[Uploading large videos](https://api.video/blog/tutorials/video-upload-tutorial-large-videos)\n[Using tags with videos](https://api.video/blog/tutorials/video-tagging-best-practices)\n[Private videos](https://api.video/blog/tutorials/tutorial-private-videos)",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "source": {
                                    "type": "string",
									"description": "if adding a video already on the web, enter the url."
                                },
                                "public": {
                                    "type": "boolean",
									"default": true, 
									"description": "A setting of false will require a unique token for each view."
                                },
                                "panoramic": {
                                    "type": "boolean",
									"default": false
                                },
                                "mp4Support": {
                                    "type": "boolean",
									"default": true,
									"description": "Enables mp4 version in addition to streamed version."
                                },
                                "playerId": {
                                    "type": "string"
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "metadata": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "publishedAt": {
                                    "type": "string",
									"format": "date-time"
                                }
                            },
                            "required": [
                                "title"
                          
							],
		
                            "example": {
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "videoId": "vi4k0jvEUuaTdRAEjQ4Jfagz",
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "playerId": "pl4k0jvEUuaTdRAEjQ4Jfagz",
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ],
                                "publishedAt": "4665-07-14T23:36:18.598Z",
                                "source": {
                                    "uri": "/videos/vi4k0jvEUuaTdRAEjQ4Jfagz/source"
                                },
                                "assets": {
                                    "iframe": "<iframe src='//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                    "player": "https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                    "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                    "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg",
                                    "mp4": "https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfagz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/attributerequired",
                                "title": "This attribute is required.",
                                "name": "title",
                                "status": 400,
                                "problems": [
                                    {
                                        "type": "https://docs.api.video/docs/attributerequired",
                                        "title": "This attribute is required.",
                                        "name": "title"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/attributeinvalid",
                                        "title": "This attribute must be a ISO8601 date.",
                                        "name": "scheduledAt"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/attributeinvalid",
                                        "title": "This attribute must be an array.",
                                        "name": "tags"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/attributeinvalid",
                                        "title": "This attribute must be an array.",
                                        "name": "metadata"
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "get": {
                "operationId": "LIST-videos",
                "summary": "List all videos",
                "tags": [
                    "Videos"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "type": "string",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "metadata",
                        "in": "query",
                        "description": "metadata[foo]=bar",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "liveStreamId",
                        "in": "query",
                        "type": "string"
                    },
                    {
			            "name": "sortBy",
			            "in": "query",
			            "description": "Allowed: publishedAt, title",
			            "type": "string"
                    },
                    {
			            "name": "sortOrder",
			            "in": "query",
			            "description": "Allowed: asc, desc",
			            "type": "string"
                    },
                    {
			            "name": "currentPage",
			            "in": "query",
			            "type": "integer",
						"default":"1",
						"description":"Search results page. Minimum value: 1"
                    },
                    {
			            "name": "pageSize",
			            "in": "query",
			            "type": "integer",
						"default":"25",
						"description":"Results per page. Allowed values 1-100, default is 25."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/video"
                                    }
                                },
                                "pagination": {
                                    "$ref": "#/definitions/pagination"
                                }
                            },
                            "required": [
                                "data",
                                "pagination"
                            ]
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "data": [
                                    {
                                        "videoId": "c188ed58-3403-46a2-b91b-44603d10b2c9",
                                        "playerId": "pl45KFKdlddgk654dspkze",
                                        "title": "Maths video",
                                        "description": "An amazing video explaining the string theory",
                                        "public": false,
                                        "panoramic": false,
                                        "mp4Support": true,
                                        "tags": [
                                            "maths",
                                            "string theory",
                                            "video"
                                        ],
                                        "metadata": [
                                            {
                                                "key": "Author",
                                                "value": "John Doe"
                                            },
                                            {
                                                "key": "Format",
                                                "value": "Tutorial"
                                            }
                                        ],
                                        "publishedAt": "2019-12-16T08:25:51+00:00",
                                        "updateddAt": "2019-12-16T08:48:49+00:00",
                                        "source": {
                                            "uri": "/videos/c188ed58-3403-46a2-b91b-44603d10b2c9/source"
                                        },
                                        "assets": {
                                            "iframe": "<iframe src='//embed.api.video/c188ed58-3403-46a2-b91b-44603d10b2c9?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                            "player": "https://embed.api.video/c188ed58-3403-46a2-b91b-44603d10b2c9?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                            "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                            "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg",
                                            "mp4": "https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfagz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4"
                                        }
                                    },
                                    {
                                        "videoId": "1b9d6ae8-8f57-4b6d-8552-d636926b4f5f",
                                        "title": "Excepteur quis",
                                        "description": "minim dolor esse reprehenderit",
                                        "public": false,
                                        "panoramic": false,
                                        "mp4Support": true,
                                        "tags": [
                                            "veniam",
                                            "ut"
                                        ],
                                        "metadata": [
                                            {
                                                "key": "ex",
                                                "value": "cupidatat ipsum ullamco consectetur Lorem"
                                            },
                                            {
                                                "key": "elit fugiat incididunt esse deserunt",
                                                "value": "minim"
                                            },
                                            {
                                                "key": "qui non",
                                                "value": "dolor"
                                            },
                                            {
                                                "key": "ipsum dolore",
                                                "value": "incididunt"
                                            },
                                            {
                                                "key": "Duis veniam",
                                                "value": "deserunt proident reprehenderit commodo"
                                            }
                                        ],
                                        "publishedAt": "2019-12-16T08:25:51+00:00",
                                        "updateddAt": "2019-12-16T08:48:49+00:00",
                                        "source": {
                                            "uri": "/videos/1b9d6ae8-8f57-4b6d-8552-d636926b4f5f/source"
                                        },
                                        "assets": {
                                            "iframe": "<iframe src='//embed.api.video/1b9d6ae8-8f57-4b6d-8552-d636926b4f5f?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                            "player": "https://embed.api.video/1b9d6ae8-8f57-4b6d-8552-d636926b4f5f?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                            "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                            "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg"
                                        }
                                    },
                                    {
                                        "videoId": "73129412-e320-4b93-99f6-59a85e3cedcd",
                                        "playerId": "pl45KFKdlddgk654dspkze",
                                        "title": "in",
                                        "description": "dolore in in ",
                                        "public": false,
                                        "panoramic": false,
                                        "mp4Support": true,
                                        "tags": [
                                            "reprehenderit enim in aliqua eu",
                                            "ea ad reprehenderit"
                                        ],
                                        "metadata": [
                                            {
                                                "key": "in sed",
                                                "value": "mollit"
                                            }
                                        ],
                                        "publishedAt": "2019-12-16T08:25:51+00:00",
                                        "updateddAt": "2019-12-16T08:48:49+00:00",
                                        "source": {
                                            "uri": "/videos/73129412-e320-4b93-99f6-59a85e3cedcd/source"
                                        },
                                        "assets": {
                                            "iframe": "<iframe src='//embed.api.video/73129412-e320-4b93-99f6-59a85e3cedcd?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                            "player": "https://embed.api.video/73129412-e320-4b93-99f6-59a85e3cedcd?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                            "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                            "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg"
                                        }
                                    }
                                ],
                                "pagination": {
                                    "currentPage": 1,
                                    "pageSize": 25,
                                    "pagesTotal": 1,
                                    "itemsTotal": 11,
                                    "currentPageItems": 11,
                                    "links": [
                                        {
                                            "rel": "self",
                                            "uri": "https://ws.api.video/videos?currentPage=1"
                                        },
                                        {
                                            "rel": "first",
                                            "uri": "https://ws.api.video/videos?currentPage=1"
                                        },
                                        {
                                            "rel": "last",
                                            "uri": "https://ws.api.video/videos?currentPage=1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                               
                                "title": "This parameter is out of the allowed range of values.",
                                "name": "page",
                                "status": 400,
                                "range": {
                                    "min": 1
                                },
                                "problems": [
                                    {
                                       
                                        "title": "This parameter is out of the allowed range of values.",
                                        "name": "page",
                                        "range": {
                                            "min": 1
                                        }
                                    },
                                    {
                                      
                                        "title": "This parameter is out of the allowed range of values.",
                                        "name": "pageSize",
                                        "range": {
                                            "min": 10,
                                            "max": 100
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/videos/{videoId}/source": {
            "parameters": [
                {
                    "name": "videoId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "formData",
					"name": "file",
                    "type": "file", 
					"required": true,
					"description":"The video you'd like to upload."
                }
            ],
            "post": {
                "operationId": "POST_videos-videoId-source",
                "summary": "Upload a video",
                "tags": [
                    "Videos"
                ],
                "description": "To upload a video to an existing videoId.  Replace {videoId} with the id you'd like to use, {access_token} with your token, and /path/to/video.mp4 with the path to the video you'd like to upload.\n\n```bash\ncurl https://ws.api.video/videos/{videoId}/source \\\n  -H 'Authorization: Bearer {access_token}' \\\n  -F file=@/path/to/video.mp4\n  ```",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "Content-Range",
                        "in": "header",
                        "type": "string",
                        "pattern": "^bytes [0-9]*-[0-9]*\\/[0-9]*$"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "videoId": "vi4k0jvEUuaTdRAEjQ4Jfagz",
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ],
                                "publishedAt": "4665-07-14T23:36:18.598Z",
                                "source": {
                                    "uri": "/videos/vi4k0jvEUuaTdRAEjQ4Jfagz/source"
                                },
                                "assets": {
                                    "iframe": "<iframe src='//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                    "player": "https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                    "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                    "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg",
                                    "mp4": "https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfagz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/filealreadyuploaded",
                                "title": "The source of the video is already uploaded.",
                                "name": "file",
                                "status": 400,
                                "problems": [
                                    {
                                        "type": "https://docs.api.video/docs/filealreadyuploaded",
                                        "title": "The source of the video is already uploaded.",
                                        "name": "file"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/filealreadyuploaded",
                                        "title": "The video xxxx has already been uploaded.",
                                        "name": "video"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/filemissing",
                                        "title": "There is no uploaded file in the request.",
                                        "name": "file"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/multiplefilesuploaded",
                                        "title": "There is more than one uploaded file in the request.",
                                        "name": "file"
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "videoId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/videos/{videoId}/thumbnail": {
            "parameters": [
                {
                    "name": "videoId",
                    "in": "path",
                    "description": "Unique identifier of the chosen video ",
                    "required": true,
                    "type": "string"
                }
            ],
            "patch": {
                "operationId": "PATCH_videos-videoId-thumbnail",
                "summary": "Pick a thumbnail",
                "tags": [
                    "Videos"
                ],
                "description": "Pick a thumbnail from the given time code. There may be a short delay for the thumbnail to update.",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "timecode": {
                                    "type": "string",
                                    "pattern": "00:00:00.00",
                                    "description": "Frame in video to be used as a placeholder before the video plays. \nExample: \"00:01:00.000\" for 1 minute into the video.\nValid Patterns : \n\"hh:mm:ss.ms\"\n\"hh:mm:ss:frameNumber\"\n\"124\" (integer value is reported as seconds) \nIf selection is out of range, \"00:00:00.00\" will be chosen."
                                }
                            },
                            "example": {
                                "timecode": "00:00:00.000"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "videoId": "vi4k0jvEUuaTdRAEjQ4Jfagz",
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ],
                                "publishedAt": "4665-07-14T23:36:18.598Z",
                                "source": {
                                    "uri": "/videos/vi4k0jvEUuaTdRAEjQ4Jfagz/source"
                                },
                                "assets": {
                                    "iframe": "<iframe src='//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                    "player": "https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                    "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                    "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg",
                                    "mp4": "https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfagz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "videoId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_videos-videoId-thumbnail",
                "summary": "Upload a thumbnail",
                "tags": [
                    "Videos"
                ],
                "description": "There may be a short delay before the new thumbnail is delivered to our CDN.",
                "consumes": [
                    "multipart/form-data"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "videoId": "vi4k0jvEUuaTdRAEjQ4Jfagz",
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ],
                                "scheduledAt": "4251-03-03T12:52:03.085Z",
                                "publishedAt": "4665-07-14T23:36:18.598Z",
                                "source": {
                                    "uri": "/videos/vi4k0jvEUuaTdRAEjQ4Jfagz/source"
                                },
                                "assets": {
                                    "iframe": "<iframe src='//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                    "player": "https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                    "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                    "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg",
                                    "mp4": "https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfagz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "status": 400,
                                "type": "https://docs.api.video/docs/fileextension",
                                "title": "Only [jpeg, jpg, JPG, JPEG] extensions are supported.",
                                "name": "file"
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "videoId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/videos/{videoId}": {
            "parameters": [
                {
                    "name": "videoId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET-video",
                "summary": "Show a video",
                "tags": [
                    "Videos"
                ],
                "description": "This call provides the same JSON information provided on video creation. For private videos, it will generate a unique token url.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "videoId": "vi4k0jvEUuaTdRAEjQ4Jfagz",
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ],
                                "publishedAt": "2019-12-16T08:25:51+00:00",
                                "updateddAt": "2019-12-16T08:48:49+00:00",
                                "source": {
                                    "uri": "/videos/vi4k0jvEUuaTdRAEjQ4Jfagz/source"
                                },
                                "assets": {
                                    "iframe": "<iframe src='//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                    "player": "https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                    "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                    "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg",
                                    "mp4": "https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfagz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "videoId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "patch": {
                "operationId": "PATCH-video",
                "summary": "Update a video",
                "tags": [
                    "Videos"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "playerId": {
                                    "type": "string"
                                },
                                "title": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "public": {
                                    "type": "boolean"
                                },
                                "panoramic": {
                                    "type": "boolean"
                                },
                                "mp4Support": {
                                    "type": "boolean"
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "metadata": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "example": {
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "title": "String theory",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        },
                        "examples": {
                            "application/json": {
                                "videoId": "vi4k0jvEUuaTdRAEjQ4Jfagz",
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "mp4Support": true,
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ],
                                "publishedAt": "2019-12-16T08:25:51+00:00",
                                "updateddAt": "2019-12-16T08:48:49+00:00",
                                "source": {
                                    "uri": "/videos/vi4k0jvEUuaTdRAEjQ4Jfagz/source"
                                },
                                "assets": {
                                    "iframe": "<iframe src='//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                    "player": "https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                    "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                    "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg",
                                    "mp4": "https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfagz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
                            "application/json": {
                                "type": "https://docs.api.video/docs/attributeinvalid",
                                "title": "This attribute must be a ISO8601 date.",
                                "name": "scheduledAt",
                                "status": 400,
                                "problems": [
                                    {
                                        "type": "https://docs.api.video/docs/attributeinvalid",
                                        "title": "This attribute must be a ISO8601 date.",
                                        "name": "scheduledAt"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/attributeinvalid",
                                        "title": "This attribute must be an array.",
                                        "name": "tags"
                                    },
                                    {
                                        "type": "https://docs.api.video/docs/attributeinvalid",
                                        "title": "This attribute must be an array.",
                                        "name": "metadata"
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "videoId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "delete": {
                "operationId": "DELETE-video",
                "summary": "Delete a video",
                "tags": [
                    "Videos"
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "videoId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/videos/{videoId}/status": {
            "parameters": [
                {
                    "name": "videoId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET-video-status",
                "summary": "Show video status",
                "tags": [
                    "Videos"
                ],
                "description": "This API provides upload status & encoding status to determine when the video is uploaded or ready to playback.\n\nOnce encoding is completed, the response also lists the available stream qualities.",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/videostatus"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "ingest": {
                                    "status": "uploaded",
                                    "filesize": 273579401,
                                    "receivedBytes": [
                                        {
                                            "to": 134217727,
                                            "from": 0,
                                            "total": 273579401
                                        },
                                        {
                                            "to": 268435455,
                                            "from": 134217728,
                                            "total": 273579401
                                        },
                                        {
                                            "to": 273579400,
                                            "from": 268435456,
                                            "total": 273579401
                                        }
                                    ]
                                },
                                "encoding": {
                                    "playable": true,
                                    "qualities": [
                                        {
                                            "quality": "360p",
                                            "status": "encoded"
                                        },
                                        {
                                            "quality": "480p",
                                            "status": "encoded"
                                        },
                                        {
                                            "quality": "720p",
                                            "status": "encoded"
                                        },
                                        {
                                            "quality": "1080p",
                                            "status": "encoding"
                                        },
                                        {
                                            "quality": "2160p",
                                            "status": "waiting"
                                        }
                                    ],
                                    "metadata": {
                                        "width": 424,
                                        "height": 240,
                                        "bitrate": 411.218,
                                        "duration": 4176,
                                        "framerate": 24,
                                        "samplerate": 48000,
                                        "videoCodec": "h264",
                                        "audioCodec": "aac",
                                        "aspectRatio": "16/9"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "videoId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/upload-tokens": {
            "post": {
                "operationId": "POST_upload-tokens",
                "summary": "Generate an upload token",
                "tags": [
                    "Videos - Delegated upload"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "token": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "token": "toXXX"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/upload": {
            "post": {
                "operationId": "POST_upload",
                "summary": "Upload with an upload token",
                "tags": [
                    "Videos - Delegated upload"
                ],
                "description": "When given a token, anyone can upload a file to the URI `https://ws.api.video/upload?token=<tokenId>`.\n\nExample with cURL:\n\n```curl\n$ curl https://ws.api.video/upload?token=toXXX -F file=@video.mp4\n```\n\nOr in an HTML form, with a little JavaScript to convert the form into JSON:\n```html\n<!--form for user interaction-->\n<form name=\"videoUploadForm\" >\n  <label for=video>Video:</label>\n  <input type=file name=source/><br/>\n  <input value=\"Submit\" type=\"submit\">\n</form>\n<div></div>\n<!--JS takes the form data \n    uses FormData to turn the response into JSON.\n    then uses POST to upload the video file.\n    Update the token parameter in the url to your upload token.\n    -->\n<script>\n   var form = document.forms.namedItem(\"videoUploadForm\");\t\n   form.addEventListener('submit', function(ev) {\n\t ev.preventDefault();\n     var oOutput = document.querySelector(\"div\"),\n         oData = new FormData(form);\n     var oReq = new XMLHttpRequest();\n\t \n     oReq.open(\"POST\", \"https://ws.api.video/upload?token=toXXX\", true);\n     oReq.send(oData);\n\t oReq.onload = function(oEvent) {\n       if (oReq.status ==201) {\n         oOutput.innerHTML = \"Your video is uploaded!<br/>\"  + oReq.response;\n       } else {\n         oOutput.innerHTML = \"Error \" + oReq.status + \" occurred when trying to upload your file.<br \\/>\";\n       }\n     };\n   }, false);\t\n</script>\n```\n\n\n### Dealing with large files\n\nThis feature can be combined with [large file upload](https://api.video/blog/tutorial/video-upload-tutorial-large-videos).\n\nAfter the first chunk is uploaded, the response contains a newly created `videoId` for this video.\n\nYou must inject it into the next requests as a form parameter. Our service will then be able to glue back together the pieces.\n\n*Notice: When developing a HTML backend, some Javascript will be required to split the file and build the queries.*\n\n\n#### CURL sample\n\nRequest/response 1:\n\n```curl\ncurl https://ws.api.video/upload?token=toXXX \\\n  -H 'Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImFiYjcxNmNiY2ZiNmY4MDc2OWEzZmQ1MjlhMjZiZWRkY2EwMzhlYzA3NDk5M2ZiMTA0YjhiZGMwOTI5MzgxN2M3NmNkNzI4ZDIzOGMzZmNlIn0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiYWJiNzE2Y2JjZmI2ZjgwNzY5YTNmZDUyOWEyNmJlZGRjYTAzOGVjMDc0OTkzZmIxMDRiOGJkYzA5MjkzODE3Yzc2Y2Q3MjhkMjM4YzNmY2UiLCJpYXQiOjE1MjY1NDgzMDEsIm5iZiI6MTUyNjU0ODMwMSwiZXhwIjoxNTI2NTUxOTAxLCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.jWHC18iEur69FzD5dm78wAwNzh2cPKTRvKuspyQNQKPvhEbYa2v4XhqVNh0TTw8JeNxBtcePBTMHl4S9nWsw7pW4KD8zbqzUjCZNYlaYDpu8vu_tmWVO2JccglJIjuQEaiTbkUsfLdgtsb_9DJ3frk1-WgAKuzu0HewhcGb80xivdJPqNYA6I1Ig8GOief9LTUNNJoqqZn1A1-UiGRTXDag7_yODuxzpMFaAzbaisfK0gYti-PnjyHGWhpGwRplMKPPJk6rSAp1d9TWWXVgg-bNqUzz4_sr33ICJTx7_qZzfamMqk5PDZbHOwpIj8L2DBfo3isvt6QliWmgFEOuvog' \\\n  -H 'Content-Range: bytes 0-104857599/281905832' \\\n  -F file=@/path/to/file_chunk_aa\n```\n\n```json\n{\n    \"videoId\": \"vitq4gOj8GyDT9kyxPQoyNJl\",\n}\n```\n\nAfter the first query is executed, the webservice generated a `videoId` and associated it with the first chunk. You must inject this `videoId` it into the next request.\n\nRequest/response 2:\n```curl\ncurl https://ws.api.video/upload?token=toXXX \\\n  -H 'Authorization: Bearer {token}' -H 'Content-Range: bytes 104857600-209715199/281905832' \\\n  -F videoId=vitq4gOj8GyDT9kyxPQoyNJl\n  -F file=@/path/to/file_chunk_ab\n```\n\n```json\n{\n    \"videoId\": \"vitq4gOj8GyDT9kyxPQoyNJl\",\n}\n```\n\nUse the same technique for all remaining requests.' ",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/video"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "videoId": "vi4k0jvEUuaTdRAEjQ4Jfagz",
                                "playerId": "pl45KFKdlddgk654dspkze",
                                "title": "Maths video",
                                "description": "An amazing video explaining the string theory",
                                "public": false,
                                "panoramic": false,
                                "tags": [
                                    "maths",
                                    "string theory",
                                    "video"
                                ],
                                "metadata": [
                                    {
                                        "key": "Author",
                                        "value": "John Doe"
                                    },
                                    {
                                        "key": "Format",
                                        "value": "Tutorial"
                                    }
                                ],
                                "publishedAt": "4665-07-14T23:36:18.598Z",
                                "source": {
                                    "uri": "/videos/vi4k0jvEUuaTdRAEjQ4Jfagz/source"
                                },
                                "assets": {
                                    "iframe": "<iframe src='//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae' width='100%' height='100%' frameborder='0' scrolling='no' allowfullscreen=''></iframe>",
                                    "player": "https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfagz?token=831a9bd9-9f50-464c-a369-8e9d914371ae",
                                    "hls": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8",
                                    "thumbnail": "https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        }
                    }
                }
            }
        },
        "/live-streams": {
            "post": {
                "operationId": "POST_live-streams",
                "summary": "Create live stream",
                "tags": [
                    "Live"
                ],
                "description": "See our [Live Stream Tutorial](https://api.video/blog/tutorials/live-stream-tutorial) for a walkthrough of this API with OBS.",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "record": {
                                    "type": "boolean",
                                    "default": false
                                },
                                "playerId": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "name": "Test live",
                                "record": true,
                                "playerId": "pl4f4ferf5erfr5zed4fsdd"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/live-stream"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
							 	"liveStreamId": "li4pqNqGUkhKfWcBGpZVLRY5",
							 	"createdAt": "2020-07-29T10:45:35+00:00",
							 	"updatedAt": "2020-07-29T10:45:35+00:00",
							 	"streamKey": "cc1b4df0-d1c5-4064-a8f9-9f0368385135",
							 	"name": "Live From New York",
							 	"record": true,
							 	"broadcasting": false,
							 	"assets": {
							 		"iframe": "<iframe src=\"https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5\" width=\"100%\" height=\"100%\" frameborder=\"0\" scrolling=\"no\" allowfullscreen=\"\"></iframe>",
							 		"player": "https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5",
							 		"hls": "https://live.api.video/li4pqNqGUkhKfWcBGpZVLRY5.m3u8",
							 		"thumbnail": "https://cdn.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5/thumbnail.jpg"
							 	}
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_live-streams",
                "summary": "List all live streams",
                "tags": [
                    "Live"
                ],
                "parameters": [
                    {
                        "name": "streamKey",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "type": "string",
						"description": "Allowed: createdAt, publishedAt, name"
						
                    },
                    {
                        "$ref": "#/parameters/trait:pageQueryTrait:currentPage"
                    },
                    {
                        "$ref": "#/parameters/trait:pageQueryTrait:pageSize"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/live-stream"
                                    }
                                },
                                "pagination": {
                                    "$ref": "#/definitions/pagination"
                                }
                            },
                            "required": [
                                "data",
                                "pagination"
                            ]
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
									"data": [
										{
											"liveStreamId": "li400mYKSgQ6xs7taUeSaEKr",
											"createdAt": "2020-01-31T10:17:47+00:00",
											"updatedAt": "2020-03-09T13:19:43+00:00",
											"streamKey": "30087931-229e-42cf-b5f9-e91bcc1f7332",
											"name": "Live Stream From the browser",
											"record": true,
											"broadcasting": false,
											"assets": {
												"iframe": "<iframe src=\"https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr\" width=\"100%\" height=\"100%\" frameborder=\"0\" scrolling=\"no\" allowfullscreen=\"\"></iframe>",
												"player": "https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr",
												"hls": "https://live.api.video/li400mYKSgQ6xs7taUeSaEKr.m3u8",
												"thumbnail": "https://cdn.api.video/live/li400mYKSgQ6xs7taUeSaEKr/thumbnail.jpg"
											}
										},
										{
											"liveStreamId": "li4pqNqGUkhKfWcBGpZVLRY5",
											"createdAt": "2020-07-29T10:45:35+00:00",
											"updatedAt": "2020-07-29T10:45:35+00:00",
											"streamKey": "cc1b4df0-d1c5-4064-a8f9-9f0368385135",
											"name": "Live From New York",
											"record": true,
											"broadcasting": false,
											"assets": {
												"iframe": "<iframe src=\"https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5\" width=\"100%\" height=\"100%\" frameborder=\"0\" scrolling=\"no\" allowfullscreen=\"\"></iframe>",
												"player": "https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5",
												"hls": "https://live.api.video/li4pqNqGUkhKfWcBGpZVLRY5.m3u8",
												"thumbnail": "https://cdn.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5/thumbnail.jpg"
											}
										}
									],
									"pagination": {
										"currentPage": 1,
										"currentPageItems": 19,
										"pageSize": 25,
										"pagesTotal": 1,
										"itemsTotal": 19,
										"links": [
											{
												"rel": "self",
												"uri": "/live-streams?currentPage=1&pageSize=25"
											},
											{
												"rel": "first",
												"uri": "/live-streams?currentPage=1&pageSize=25"
											},
											{
												"rel": "last",
												"uri": "/live-streams?currentPage=1&pageSize=25"
											}
										]
									}
							 	
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/live-streams/{liveStreamId}": {
            "parameters": [
                {
                    "name": "liveStreamId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_live-streams-liveStreamId",
                "summary": "Show live stream",
                "tags": [
                    "Live"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/live-stream"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
									"liveStreamId": "li400mYKSgQ6xs7taUeSaEKr",
									"createdAt": "2020-01-31T10:17:47+00:00",
									"updatedAt": "2020-03-09T13:19:43+00:00",
									"streamKey": "30087931-229e-42cf-b5f9-e91bcc1f7332",
									"name": "Live Stream From the browser",
									"record": true,
									"broadcasting": false,
									"assets": {
										"iframe": "<iframe src=\"https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr\" width=\"100%\" height=\"100%\" frameborder=\"0\" scrolling=\"no\" allowfullscreen=\"\"></iframe>",
										"player": "https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr",
										"hls": "https://live.api.video/li400mYKSgQ6xs7taUeSaEKr.m3u8",
										"thumbnail": "https://cdn.api.video/live/li400mYKSgQ6xs7taUeSaEKr/thumbnail.jpg"
									}
								}
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "patch": {
                "operationId": "PATCH_live-streams-liveStreamId",
                "summary": "Update a live stream",
                "tags": [
                    "Live"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "record": {
                                    "type": "boolean"
                                },
                                "playerId": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/live-stream"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
									"liveStreamId": "li400mYKSgQ6xs7taUeSaEKr",
									"createdAt": "2020-01-31T10:17:47+00:00",
									"updatedAt": "2020-03-09T13:19:43+00:00",
									"streamKey": "30087931-229e-42cf-b5f9-e91bcc1f7332",
									"name": "Live Stream From the browser",
									"record": true,
									"broadcasting": false,
									"assets": {
										"iframe": "<iframe src=\"https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr\" width=\"100%\" height=\"100%\" frameborder=\"0\" scrolling=\"no\" allowfullscreen=\"\"></iframe>",
										"player": "https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr",
										"hls": "https://live.api.video/li400mYKSgQ6xs7taUeSaEKr.m3u8",
										"thumbnail": "https://cdn.api.video/live/li400mYKSgQ6xs7taUeSaEKr/thumbnail.jpg"
									}
								}
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "delete": {
                "operationId": "DELETE_live-streams-liveStreamId",
                "summary": "Delete a live stream",
                "tags": [
                    "Live"
                ],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/live-streams/{liveStreamId}/thumbnail": {
            "parameters": [
                {
                    "name": "liveStreamId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "operationId": "POST_live-streams-liveStreamId-thumbnail",
                "summary": "Upload a thumbnail",
                "tags": [
                    "Live"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/live-stream"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "status": 400,
                                "type": "https://docs.api.video/docs/fileextension",
                                "title": "Only [jpeg, jpg, JPG, JPEG] extensions are supported.",
                                "name": "file"
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "liveStreamId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "delete": {
                "operationId": "DELETE_live-streams-liveStreamId-thumbnail",
                "summary": "Delete a thumbnail",
                "tags": [
                    "Live"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/live-stream"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "type": "https://docs.api.video/docs/resourcenot_found",
                                "title": "The requested resource was not found.",
                                "name": "liveStreamId",
                                "status": 404
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/videos/{videoId}/captions/{language}": {
            "parameters": [
                {
                    "name": "videoId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "language",
                    "in": "path",
                    "description": "A valid BCP 47 language representation",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "operationId": "POST_videos-videoId-captions-language",
                "summary": "Upload a caption",
                "tags": [
                    "Captions"
                ],
                "description": "Upload a VTT file to add captions to your video.\n Read our [captioning tutorial](https://api.video/blog/tutorials/adding-captions) for more details.",
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/subtitle"
                        },
                        "examples": {
                            "application/vnd.api.video+json": {
                                "uri": "/videos/vi3N6cDinStg3oBbN79GklWS/captions/en",
                                "src": "https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/captions/en.vtt",
                                "srclang": "en",
                                "default": false
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/bad-request"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/not-found"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_videos-videoId-captions-language",
                "summary": "Show a caption",
                "tags": [
                    "Captions"
                ],
                "responses": {
                    "200": {
                        "description": "",
[...]
